
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log


.DS_Store
Thumbs.db
desktop.ini


.idea/
.vscode/
*.suo
*.user
*.sublime-project
*.sublime-workspace


/public/build/
/public/mix-manifest.json


*.zip
*.tar.gz